/* Synchronouse styles. */

/* Imports fonts. */
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@100;300;400;500&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.CodeMirror {
  width: 100%;
  height: calc(100% - 35px);
  /* font-family: Consolas, "Courier New", monospace; */
  font-family: DejaVu Sans Mono, monospace;
  font-size: 15px;
}

.CodeMirror-cursor {
  border-left: 2px solid dodgerblue !important;
}

.CodeMirror-linenumbers {
  padding-right: 20px;
}

/* Command pallete styles. */

#command-pallete {
  width: 60%;
  padding: 5px;
  background-color: #1e2727;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: calc(50% - 70% / 2);
  z-index: 50;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#command-pallete > input {
  width: 100%;
  background-color: #181f1f;
  border: 1px solid rgba(100, 100, 100, 0.5);
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #ddd;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  outline: 0;
}

#command-pallete > ul {
  list-style: none;
  color: #aaa;
  width: 100%;
}

#command-pallete > ul > li {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 10px;
  white-space: pre-wrap;
}

#command-pallete > ul > li:hover {
  background-color: #6464641a;
}

#command-pallete > ul > hr {
  margin: 10px 0;
}

/* TabManager */

#tab-manager {
  width: 100%;
  height: 35px;
  background-color: #242430;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tab-manager > * {
  padding-left: 10px;
  border-right: 2px solid #1c2424;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
  font-family: "Roboto", sans-serif;
  color: #ccc;
}

#tab-manager > * > * {
  margin-right: 10px;
  font-size: small;
}

/* Close button */
#tab-manager > * > *:last-child {
  font-size: larger;
  cursor: pointer;
  transition: 0.2s;
}

#tab-manager > * > *:last-child:hover {
  color: #eee;
}

#tab-manager > * > *:first-child {
  font-size: small;
}

/* Bottom bar styles. */

#bottom-bar {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  /* #242430
     #1c2424 */
  background-color: #242430;
  color: #ccc;
  z-index: 50;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 100;
}

#bottom-bar > span {
  height: 100%;
}

#bottom-bar > span > span {
  padding-right: 5px;
  padding-left: 5px;
  user-select: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

#bottom-bar > span > span:hover {
  background-color: rgba(100, 100, 100, 0.1);
}
